:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.MDBBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transform: scale(1); /* Ensure the default scale is 1 */
}

button:hover,
.MDBBtn:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible,
.MDBBtn:focus,
.MDBBtn:focus-visible {
  outline: none;
  box-shadow: none;
}

button:active,
.MDBBtn:active {
  transform: scale(1) !important; /* Prevent resizing on click */
  transition: none !important; /* Disable any transition during click */
}

/* Apply these rules globally */
.no-expand,
.no-expand:hover,
.no-expand:active {
  transition: none !important; /* Disable transitions for specific buttons */
  transform: none !important; /* Prevent scaling completely */
}


/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button,
  .MDBBtn {
    background-color: #f9f9f9;
  }
}
